body {
  background: #000 !important;
  color: #fff !important;
  height: 100%;
  margin: 0px;
  padding: 0px 10px;
}
.react-demo ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.active {
  color: purple;
}

.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
.register-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  box-shadow: 0 0 20px #939393;
}
